.services {
  background-color: var(--color-yellow);
  position: relative;
  // background:
  //   linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
  //   linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
  //   var(--dot-color);

  ::selection {
    background-color: var(--color-black);
    color: var(--color-white);
  }

  &_container {
    margin: 3rem 0;
  }

  .accordian {
    margin-top: 2.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--color-black);
    font-size: 3rem;
    border-bottom: 1px solid var(--color-black);
    padding: 3.6rem 0;
    gap: 3rem;

    @media only screen and (max-width: 31.5em) {
      font-size: 2.6rem; //500px
    }

    &_header {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
    }

    &_body {
      display: flex;
      justify-content: space-around;
      font-weight: 500;
      font-size: 1.8rem;
      color: var(--color-black);

      @media only screen and (max-width: 37.5em) {
        flex-direction: column;
        padding: 0 2.4rem;
      }
    }

    &_list {
      width: 30%;
      list-style: inside;

      &-item {
        margin-bottom: 1rem;
      }

      @media only screen and (max-width: 37.5em) {
        width: 100%;
      }
    }

    &_cta {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 2rem;
      font-size: 1.6rem;
      line-height: 2.5rem;
      letter-spacing: 0.2px;

      @media only screen and (max-width: 37.5em) {
        width: 100%;
        margin-top: 2rem;
      }
    }

    &_name {
      display: flex;
      gap: 3rem;
      letter-spacing: 0.5px;
      text-transform: capitalize;
    }

    &_num {
      font-size: 2rem;
      color: var(--color-black);
    }

    &_icon {
      cursor: pointer;
    }
  }
}
