.about_page {
  &_intro {
    display: flex;
    justify-content: space-around;
    margin-top: 12rem;
    
    @media only screen and (max-width: 37.5em) {
      justify-content: start;
      flex-direction: column-reverse;
      gap: 5rem;
      margin-top: 6rem;
    }

    &-text {
      width: 40%;
      font-size: 2rem;
      font-weight: 500;
      letter-spacing: 0.2px;
      line-height: 3.4rem;

      @media only screen and (max-width: 37.5em) {
        width: 100%;
      }
    }

    &-img {
      width: 40%;
      position: relative;

      @media only screen and (max-width: 37.5em) {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &-circle {
      border-radius: 50%;
      overflow: hidden;
      transform: translateX(6rem);

      @media only screen and (max-width: 37.5em) {
        width: 80%;
        transform: translateX(0);
      }
      img {
        width: 100%;
        height: 100%;
      }
    }

    &-square {
      position: absolute;
      border: 3px solid var(--color-tri);
      width: 30rem;
      height: 30rem;
      left: -2rem;
      top: -8rem;
      z-index: -10;
      @media only screen and (max-width: 37.5em) {
        width: 10rem;
        height: 10rem;
        display:none;
      }
    }
  }
}
