.sec_btn {
  position: relative;
  color: var(--color-black);

  &-link {
    color: inherit;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    outline: none;
    border: none;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-radius: 4px;
    cursor: pointer;
    background-color: transparent;
    font-size: 1.4rem;
    font-weight: 700;
  }

  &::after,
  &::before {
    content: '';
    display: inline-block;
    height: 2px;
    position: absolute;
    bottom: -5px;
    transition: all 400ms ease;
  }

  &::after {
    width: 100%;
    left: 0;
    background-color: currentColor;
    transition-delay: 50ms;
  }

  &::before {
    width: 0%;
    right: 0;
    background-color: var(--color-tri);
    transition-delay: 200ms;
  }

  &:hover {
    &::after {
      width: 0%;
    }

    &::before {
      width: 100%;
    }
  }

  &-icon {
    font-size: 1.8rem;
  }
}

.light {
  color: var(--color-white);

  &::before {
    background-color: var(--color-black);
  }
}
