.experince {
  display: flex;
  flex-direction: column;
  // background-color: var(--color-blue-light);

  &_intro {
    display: flex;
    align-items: center;
    gap: 8rem;

    @media only screen and (max-width: 50em) {
      margin: 2rem 0;
    }

    @media only screen and (max-width: 37.5em) {
      flex-direction: column-reverse;
      gap: 4rem;
    }

    &-text {
      color: var(--color-black);
      width: 50%;
      font-size: 1.8rem;
      line-height: 2.8rem;
      @media only screen and (max-width: 37.5em) {
        width: 100%;
      }
      letter-spacing: 0.5px;
    }

    &-img {
      text-align: center;
      @media only screen and (max-width: 37.5em) {
        width: 100%;
      }
      img {
        @media only screen and (max-width: 50em) {
          width: 90%;
        }
        @media only screen and (max-width: 37.5em) {
          width: 70%;
        }
        @media only screen and (max-width: 37.5em) {
          width: 60%;
        }
      }
    }
  }

  &_points_wrapper {
    margin-top: 4rem;
  }

  &_point {
    margin-bottom: 12rem;
    display: flex;
    justify-content: space-between;
    color: var(--color-black);
    position: relative;

    @media only screen and (max-width: 31.25em) {
      flex-direction: column; //500px
      gap: 2rem;
    }
    &-num {
      position: absolute;
      font-size: 18rem;
      color: #f5f5f5;
      z-index: -1;
      font-weight: 700;
      top: -9rem;
      left: 4rem;

      @media only screen and (max-width: 31.25em) {
        font-size: 16rem;
      }
    }
  }
  &_h3 {
    width: 48%;

    @media only screen and (max-width: 31.25em) {
      width: 100%; //500px
    }

    &-name {
      font-size: 2.8rem;
      letter-spacing: 0.8px;

      &::before {
        content: '';
        width: 8rem;
        height: 3px;
        border-radius: 10px;
        background-color: var(--color-yellow);
        display: block;
        margin-bottom: 0.5rem;
      }

      &::after {
        content: '';
        background-color: #cdcdcd;
        width: 25rem;
        height: 3px;
        float: right;
        margin-top: 2rem;

        @media only screen and (max-width: 56.25em) {
          display: none; //500px
        }
      }
    }
  }

  &_content {
    width: 48%;
    margin-top: 1.4rem;
    font-size: 1.7rem;
    line-height: 2.6rem;
    letter-spacing: 0.4px;

    @media only screen and (max-width: 56.25em) {
      width: 60%; //500px
    }

    @media only screen and (max-width: 31.25em) {
      width: 100%; //500px
    }
  }
}
