.contact_page {
  &_map {
    position: absolute;
    inset: 0;
  
    @media only screen and (max-width: 37.5em) {
      display: none; //600px
    }

    &-mobile {
      display: none;
      margin-top: 8rem;

      @media only screen and (max-width: 37.5em) {
        display: block; //600px
        height: 42rem;
      } 
    }
  }

  &_wrapper {
    z-index: 100;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 3.2rem;
    background-color: var(--color-blue);
    width: min-content;
    padding: 4.8rem 1.8rem;

    @media only screen and (max-width: 31.25em) {
      width: 100%; //500px
    }
  }

  &-info {
    display: flex;
    padding: 0 3rem;
    justify-content: space-evenly;

    hr {
      border: 1px solid var(--color-white);
    }

    @media only screen and (max-width: 31.25em) {
      flex-direction: column; //500px
      gap: 2rem;
    }
  }

  &-heading {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding: 0 3rem;
    color: var(--color-white);
    @media only screen and (max-width: 31.25em) {
      padding: 0rem; //500px
    }
  }

  &-h3 {
    font-size: 2.4rem;
    font-weight: 900;
  }

  &-subheading {
    font-weight: 700;
  }

  &-subheading,
  &-text {
    font-size: 1.2rem;

    @media only screen and (max-width: 31.25em) {
      font-size: 1.4rem; //500px
    }
  }

  &-form {
    // width: fit-content;
    // display: flex;
    //
    // @media only screen and (max-width: 31.25em) {
    //   display: block;
    // }
  }
}

.info {
  text-align: center;
  color: var(--color-white);
  padding-top: 2rem;

  &_heading {
    font-size: 1.8rem;
  }

  & > p,
  h4 {
    margin-bottom: 6px;
  }
}
