.header {
  padding: 2rem 2.2rem;
  padding-top: 0;
  height: 86vh;
  height:86svh;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  &_img {
    width: 100%;
    height: 100%;
    background-image: url('../../assets/hero-bg.jpg');
    background-position: center;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
  }

  &_tagline {
    text-align: center;
    color: var(--color-white);

    .primary {
      font-size: 7.2rem;

      @media only screen and (max-width: 43.75em) {
        font-size: 6.2rem; //700px
      }

      @media only screen and (max-width: 37.5em) {
        font-size: 5.2rem; //600px
      }

      @media only screen and (max-width: 25em) {
        font-size: 4.2rem; //00px
      }
    }

    .secondary {
      @media only screen and (max-width: 43.75em) {
        font-size: 3rem; //700px
      }
      
      @media only screen and (max-width: 37.5em) {
        font-size: 2.2rem; //600px
      }
      
      @media only screen and (max-width: 25em) {
        font-size: 2rem; //400px
      }
    }
  }

  &_cta {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    transform: translateY(1.6rem);
    padding: 1.6rem 3rem;
    font-size: 1.8rem;
    text-transform: capitalize;
    border: 1px solid var(--color-white);
    border-radius: 50px;
    background-color: var(--color-white);
    font-weight: 600;
    color: var(--color-black);
    transition: all 300ms ease-in-out;
    transition-delay: 50ms;

    &:hover {
      background-color: transparent;
      border-radius: 1px solid var(--color-black);
      color: var(--color-white);
      border-radius: 50px;
    }
  }
}
