.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 12rem;

  @media only screen and (max-width: 56.25em) {
    padding: 4rem 8rem; //900px
  }
  @media only screen and (max-width: 43.75em) {
    padding: 3rem 4rem; //700px
  }

  &_logo {
    width: 26rem;
    @media only screen and (max-width: 43.75em) {
      // width: 20rem; //700px
    }
  }

  &_links {
    &-link {
      display: flex;
      .link {
        &:hover {
          color: var(--color-blue);
        }
      }
    }
    align-items: center;
    display: flex;
    gap: 4.5rem;
    padding: 1.2rem 5rem;
    font-weight: 600;
    font-size: 1.6rem;
    color: var(--color-black);
    position: relative;
    cursor: pointer;

    @media only screen and (max-width: 37.5em) {
      display: none; //600px
    }
  }

  &_dropdown {
    position: absolute;
    top: 6rem;
    left: 16rem;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1rem 0.5rem;
    z-index: 100;
    background-color: var(--color-white);
    
    &-active {
      display: block;
    }

    &_links {
      display: flex;
      flex-direction: column;
      text-transform: capitalize;
      color: var(--color-grey-dark);
      cursor: pointer;
    }

    &_link {
      padding: 1rem;
      border-radius: 2px;
      margin-bottom: 2px;
      font-size: 1.4rem;
      transition: all ease;

      &:hover {
        color: var(--color-white);
        background-color: var(--color-blue);
      }
    }
  }
}
