:root {
  font-size: 62.5%; // 1rem = 10px
  box-sizing: border-box;
  scroll-behavior: smooth;

  --color-black: #111;
  --color-white: #fff;
  // --color-blue: #0578C1; 
  --color-blue: #2874F0;
  --color-blue-light: #009dff;
  // --color-tri: #da0034;
  --color-tri: var(--color-blue);
  --color-red: #c32126;
  // --color-yellow: #f8d200;
  --color-yellow: var(--color-blue);
  --color-cyan: #00ffca;
  --color-grey-dark: #707070;
  --color-grey-light: #fbfbfb;
  --color-orange:  var(--color-blue);

  --dot-bg: var(--color-blue);
  --dot-color: var(--color-white);
  --dot-size: 2.4px;
  --dot-space: 5.2rem;

  &::-webkit-scrollbar {
    width: 14px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: var(--color-yellow);
  }

  @media only screen and (min-width: 100em) {
    font-size: 75%; // 1rem = 12px
  }

  @media only screen and (min-width: 125em) {
    font-size: 87.5%; // 1rem = 14px
  }

  @media only screen and (min-width: 156.25em) {
    font-size: 100%; // 1rem = 16px
  }

  @media only screen and (max-width: 68.75em) {
    font-size: 50%; // 1rem = 8px
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-black);
  // background-color: var(--color-primary);
}

a,
a:visited,
a:active {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

p {
  font-family: 'DM Sans', sans-serif;
}

ul {
  list-style: none;
}

.section {
  padding: 6rem 14rem;
}

.section_red {
  padding: 8rem 14rem;
}

.section,
.section_red {
  @media only screen and (max-width: 50em) {
    padding: 6rem 10rem; //800px
  }

  @media only screen and (max-width: 43.75em) {
    padding: 6rem 4rem; //700px
  }

  @media only screen and (max-width: 25em) {
    padding: 6rem 2rem; //400px
  }
}

::selection {
  background-color: var(--color-tri);
  color: var(--color-white);
}

//
// *::-webkit-scrollbar {
//   display: none;
// }
//
// input:-webkit-autofill,
// textarea:-webkit-autofill,
// select:-webkit-autofill {
//   -webkit-box-shadow: 0 0 0 1000px #2b2b2b inset !important;
//   -webkit-text-fill-color: white !important;
//   background-clip: content-box;
// }
