.links {
  letter-spacing: 0.4px;
  font-weight: 500;
  text-transform: capitalize;
  transition: all 50ms ease;
  transition-delay: 50ms;

  &:hover {
    color: var(--color-tri);
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(0);
  }

  .link {
    color: inherit;
  }
}
